* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.0;
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(at top right, rgb(207, 195, 23), rgb(32, 120, 192));
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h3,
a {
    color: #77762a;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.70em;
}

.logo a:hover {
    color: #316fa1;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #316fa1;
    font-size: 1.1em;
}

.main-nav a:hover {
    color: #aeb11b;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px solid #9e5555;
    background-color: #ececeb;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(102, 32, 11, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #ececeb;
}

.s1 {
    width: 93%;
    height: 900px;
    margin: 0 auto;
    max-width: 1150px;
    /*background-color: #184ab68f;
    background-color: #184ab68f;*/
    position: relative;
    border-radius: 20px;
    transition: .2s ease-in;
    z-index: 1;
}

.s1:hover {
    box-shadow: 0 0 5px #29faef, 0 0 25px #29faef, 0 0 50px #29faef, 0 0 200px #29faef;
}

.s2 {
    width: 93%;
    height: 900px;
    margin: 0 auto;
    max-width: 1150px;
    /*background-color: #33be218f;
    background-color: #184ab68f;*/
    position: relative;
    border-radius: 20px;
    transition: .6s ease-in;
    z-index: 1;
}

.s2:hover {
    box-shadow: 0 0 5px #0dca2c, 0 0 25px #0dca2c, 0 0 50px #0dca2c, 0 0 200px #0dca2c;
}

.s3 {
    width: 93%;
    height: 900px;
    margin: 0 auto;
    max-width: 1150px;
    /*background-color: #184ab68f;
    /*background-color: #184ab68f;*/
    position: relative;
    border-radius: 20px;
    transition: .6s ease-in;
    z-index: 1;
}

.s3:hover {
    /*background: radial-gradient(at top right, rgb(82, 144, 199), rgb(25, 124, 55));*/
    box-shadow: 0 0 5px #29faef, 0 0 25px #29faef, 0 0 50px #29faef, 0 0 200px #29faef;
}

.s4 {
    width: 93%;
    height: 900px;
    margin: 0 auto;
    max-width: 1150px;
    /*background-color: #33be218f;
    /*background-color: #184ab68f;*/
    position: relative;
    border-radius: 20px;
    transition: .6s ease-in;
    z-index: 1;
}

.s4:hover {
    /*background: radial-gradient(at top right, rgb(34, 116, 18), rgb(69, 108, 216));*/
    box-shadow: 0 0 5px #0dca2c, 0 0 25px #0dca2c, 0 0 50px #0dca2c, 0 0 200px #0dca2c;
}

.s5 {
    width: 93%;
    height: 900px;
    margin: 0 auto;
    max-width: 1150px;
    /*background-color: #184ab68f;
    /*background-color: #184ab68f;*/
    position: relative;
    border-radius: 20px;
    transition: .6s ease-in;
    z-index: 1;
}

.s5:hover {
    box-shadow: 0 0 5px #29faef, 0 0 25px #29faef, 0 0 50px #29faef, 0 0 200px #29faef;
}

.div1 {
    width: 97%;
    height: 350px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: none;
}

.div2 {
    width: 97%;
    height: 350px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: none;
}

.left {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

.left::before,
.left::after {
    position: absolute;
    content: '';
    z-index: -1;
}

.left:hover {
    box-shadow: inset -10.5em 0 0 0 #99be1e, inset 10.5em 0 0 0 #99be1e;
}

.center {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

.center::before,
.center::after {
    position: absolute;
    content: '';
    z-index: -1;
}

.center:hover {
    box-shadow: inset -10.5em 0 0 0 #136b46, inset 10.5em 0 0 0 #136b46;
}

.right {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

.right::before,
.right::after {
    position: absolute;
    content: '';
    z-index: -1;
}

.right:hover {
    box-shadow: inset -10.5em 0 0 0 #0a6c74, inset 10.5em 0 0 0 #0a6c74;
}

.s1 .div1 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/45/Double-compound-pendulum.gif);
}

.s1 .div1 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/33/PID_Compensation_Animated.gif);
}

.s1 .div1 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/LogisticTopMixing1-6.gif/490px-LogisticTopMixing1-6.gif);
}

.s1 .div2 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://ww2.mathworks.cn/matlabcentral/mlc-downloads/downloads/submissions/21944/versions/3/screenshot.gif);
}

.s1 .div2 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://cdn-images-1.medium.com/max/1200/1*-teDpAIho_nzNShRswkfrQ.gif);
}

.s1 .div2 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://res-3.cloudinary.com/computer-science-association/image/upload/c_fit,f_auto,q_auto,w_auto/v1/csa-tech-blog-images/yl9t1as4quub2dgk7f6h.gif);
}

.s2 .div1 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://spidercontrol.net/wp-content/uploads/2017/01/industrial_automation.jpg);
}

.s2 .div1 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Shadow_Hand_Bulb_large.jpg/320px-Shadow_Hand_Bulb_large.jpg);
}

.s2 .div1 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Anatomy-1751201_1280.png/420px-Anatomy-1751201_1280.png);
}

.s2 .div2 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://www.smallbizdaily.com/wp-content/uploads/2021/07/shutterstock_1670471011-1.jpg)
}

.s2 .div2 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://bleuwire.com/wp-content/uploads/2019/12/It-automation-robotic-process-automation.png.webp);
}

.s2 .div2 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Internet_of_things_signed_by_the_author.jpg/400px-Internet_of_things_signed_by_the_author.jpg);
}

.s3 .div1 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://www.dfliq.net/wp-content/uploads/2015/09/electrical-transformer.gif);
}

.s3 .div1 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://instrumentationtools.com/wp-content/uploads/2021/06/Difference-between-Transmitter-and-Transducer.png);
}

.s3 .div1 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://cemanco.com/wp-content/uploads/2016/02/spooling-traverses-edge-sensor.jpg);
}

.s3 .div2 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://cdn.instrumentationtools.com/wp-content/uploads/2016/05/instrumentationtools.com_basics-of-actuators.jpg);
}

.s3 .div2 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://www.euromatech.com/wp-content/uploads/2019/12/IN100-Industrial-Instrumentation-and-Modern-Control-Systems.jpg);
}

.s3 .div2 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://media.vozpopuli.com/2021/02/Captura-presentacion-Neurlalink-Elon-Musk_1387671309_15741953_1200x675.png);
}

.s4 .div1 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://ichef.bbci.co.uk/news/624/mcs/media/images/83468000/jpg/_83468623_cheetahafp.jpg);
}

.s4 .div1 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://www.autonomousvehicleinternational.com/wp-content/uploads/2019/11/AVs-at-night-cropped-1.jpg);
}

.s4 .div1 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://www.hibridosyelectricos.com/media/hibridos/images/2021/02/19/2021021911520984991.jpg);
}

.s4 .div2 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/UAV_Comparison.jpg/800px-UAV_Comparison.jpg);
}

.s4 .div2 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://s3.amazonaws.com/assets.clearpathrobotics.com/wp-content/uploads/2021/01/21121403/Webp.net-resizeimage-37-1080x675.png);
}

.s4 .div2 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://israelnoticias.com/wp-content/uploads/2021/03/drone-swarm.jpg);
}

.s5 .div1 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Tesla_circa_1890.jpeg/330px-Tesla_circa_1890.jpeg);
}

.s5 .div1 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/57/James_Clerk_Maxwell.png);
}

.s5 .div1 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Michael_Faraday._Photograph_by_Maull_%26_Polyblank._Wellcome_V0026348.jpg/300px-Michael_Faraday._Photograph_by_Maull_%26_Polyblank._Wellcome_V0026348.jpg);
}

.s5 .div2 .left {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cf/Hans_Christian_%C3%98rsted_daguerreotype.jpg);
}

.s5 .div2 .center {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    left: 33.5%;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/10/Alexander_Graham_Bell.jpg);
}

.s5 .div2 .right {
    text-align: center;
    color: black;
    position: absolute;
    padding: 0px;
    right: 0px;
    width: 33%;
    height: 350px;
    border-radius: 10px;
    margin: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Oheaviside.jpg/320px-Oheaviside.jpg);
}

button {
    background-color: transparent;
    color: blue;
    width: 100px;
    height: 25px;
    bottom: -270px;
    border-radius: 90px;
    border-width: 1.2px;
    position: relative;
    border-color: gold;
    transition: .2s ease-in;
    z-index: 1;
}

button::before,
button::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn:hover {
    background: #86152e;
    box-shadow: 0 0 5px #700a20, 0 0 25px #700a20, 0 0 50px #700a20, 0 0 200px #700a20;
}

.myDIV {
    width: 100%;
    height: 350px;
    position: relative;
    bottom: 40px;
}

.hide {
    display: none;
    font-family: italic, ser;
    width: 70%;
    height: 300px;
    border-radius: 100px;
    position: relative;
    left: 47px;
    bottom: 370px;
}

.myDIV:hover+.hide {
    display: block;
    color: white;
}


/* ================================= Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}


/* THis is the style of the footer */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: 5.0 rem;
    font-family: 'Poppins', sans-serif;
    width: 80rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    color: #5584AC;
}

.centered:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: auto;
}

li {
    color: white;
    margin-right: 30px;
    font-size: 2.5 rem;
}

div img {
    width: 100%;
}

.introduction {
    background-color: none;
}

.research {
    background-color: none;
}

.projects {
    background-color: none;
}

.members {
    background-color: none;
}

.quots {
    background-color: none;
}

.site-footer {
    background-color: none;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #010104;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #ffffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #010104
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #000000;
    color: #fdfdfd;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}